<%= simple_form_for([:admin, @article]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <% f.input :image %>
    <%= f.input :body, input_html: { class: 'redactor' } %>
    <%= f.input :published, inline_label: true, label: false %>
    <%= f.input :featured, inline_label: true, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', :back, class: 'btn' %>
  </div>
<% end %>
