<h1>Notícias</h1>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Publicado?</th>
      <th>Destaque?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td>
          <% if article.published? %>
            <span class="label label-warning">Sim</span>
          <% else %>
            <span class="label">Não</span>
          <% end %>
        </td>
        <td>
          <% if article.featured? %>
            <span class="label label-warning">Sim</span>
          <% else %>
            <span class="label">Não</span>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to 'Visulizar', [:admin, article], class: 'btn btn-small' %>
            <%= link_to 'Editar', edit_admin_article_path(article), class: 'btn btn-small' %>
            <%= link_to 'Excluir', [:admin, article], method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-small' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar notícia', new_admin_article_path, class: 'btn btn-primary' %>
