<h3><%= @article.title %></h3>

<strong>Categoria:</strong>
<%= @article.category.name %>

<% if @article.published? %>
  <span class="label label-info">Publicado</span>
<% else %>
  <span class="label">Rascunho</span>
<% end %>

<% if @article.featured? %>
  <span class="label label-warning">Destaque</span>
<% else %>
  <span class="label">Normal</span>
<% end %>

<% if @article.image? %>
  <hr>
  <%= image_tag @article.image.regular, width: 300, height: 170 %>
<% end %>

<hr>
<%== @article.body %>

<%= link_to 'Editar', edit_admin_article_path(@article), class: 'btn' %>
