<% @body_class = "#{@article.category.name.parameterize}-detalhes #{@article.category.name.parameterize}-detalhes_index area-#{@article.category.name.parameterize} pagina-detalhes" %>
<header class="titulo-area">
  <h1><%= link_to @article.category.name, @article.category %></h1>
</header>

<div id="content-inner">
  <div id="main">
    <section class="artigo">
      <article>
        <header>
          <h1><%= @article.title %></h1>
          <h2><%= @article.summary %></h2>
        </header>

        <div class="entry-content">
          <%= image_tag @article.image.large, width: 620, height: 340 %>
          <%= simple_format @article.body %>
        </div>
      </article>
    </section>


    <section id="artigo-comentarios">
      <header>
        <h1>Comentários</h1>
      </header>
      <%= render 'comments/comments' %>
      <%= render 'comments/form' %>
    </section>

  </div>

  <%= render 'articles/related_articles_list' %>

</div>
