<section class="destaques-categoria area-<%= category.name.parameterize %>">
  <header>
    <h1><%= link_to category.name, category %></h1>
  </header>

  <div class="destaque destaque-secundario">
    <%= link_to [category, category.featured_article] do %>
      <span class="foto">
        <span class="foto"><%= image_tag category.featured_article.image.regular, width: 300, height: 170  %></span>
      </span>
      <span class="conteudo">
        <p><%= category.featured_article.title %></p>
      </span>
    <% end %>
  </div>

 <%= render category.common_articles %>
</section>
