<h1>Editar administrador</h1>

<%= simple_form_for([:admin, @user]) do |f| %>

  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>

  <% end %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password, hint: 'Deixe em branco se não quiser alterar.' %>
    <%= f.input :password_confirmation, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
