<h1>Administradores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Editar', edit_admin_user_path(user), class: 'btn btn-small' %>
            <%= link_to 'Excluir', [:admin, user], method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-small' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar', new_admin_user_path, class: 'btn btn-primary' %>
