<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">MiniGlobo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <%= link_to 'Notícias', admin_articles_path %>
              </li>
              <li><a href="#about">Categorias</a></li>
              <li><a href="#about">Comentários</a></li>
              <li><a href="#about">Administradores</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  </body>
</html>
